@model IEnumerable<ApplicationUser>;
@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Identity;

<script src="~/js/user-delete.js"></script>
@{
    ViewBag.PageTitle = "User Management";
    ViewBag.CardTitle = "View User";
}
<div>
    <a asp-Area="Identity" asp-controller="Account" asp-Action="Register" class="btn btn-primary"> Create new User</a>
</div>
<br />
<table class="table w-100">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
        @*Add Role name*@
        
        <td>PhoneNumber</td>
        <td>Action</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.PhoneNumber</td>
            <td>
                @if(item.LockoutEnd == null | item.LockoutEnd < DateTime.Now)
                {
                    <a class="btn btn-success" asp-action="LockUnlock" asp-route-id="@item.Id">
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="LockUnlock" asp-route-id="@item.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
                <a onClick="DeleteUser('/Admin/User/Delete/@item.Id')" class="btn btn-danger">Delete</a>
           </td> 
        </tr>
        }
        
    
</table>
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>
</div>